@font-face {
  font-family: 'Realce';
  src: url('../fonts/cms_files_588093_1709521849Realce-Black.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

p {
  font-family: 'Noto Sans';
}

p + p {
  margin-top: 1rem;
}

h1 {
  font-family: 'Realce';
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #151b1f;
}

html{
    scroll-behavior: smooth;
}

.subtitulo {
  display: block;
  font-family: 'Noto Sans';
  font-size: 1rem;
  line-height: 1.5;
  color: #f0f2f4;
  font-weight: bold;
  margin-bottom: 2rem;
}

.span {
  grid-column: 1/-1;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
  color: #282f38;
}

.legenda {
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #506273;
}

.bg .legenda {
  color: #f0f2f4;
}

.bg h1 {
  color: #fff;
}

.bg {
  background-image: linear-gradient(90deg, #457fca, #5691c8);
}

.bg .text {
  color: #f0f2f4;
}

.container {
  padding: 60px 40px;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}



.header {
  top: 0;
  position: sticky;
  z-index: 10000;
  padding: 32px 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.menu a {
  font-family: 'Realce';
  font-size: 1.125rem;
  color: #151b1f;
  transition: 0.3s;
}

.menu a:hover,
.menu a.active {
  color: #457fca;
}

.separador {
  display: block;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  height: 4px;
  background-color: #f0f2f4;
  border: 4px;
}
p a{
    color: #fff;
    text-decoration: underline;
}

.link-exposicao {
  display: block;
  font-family: 'Realce';
  font-size: 1.5rem;
  color: #fff;
  text-align: right;
  margin-bottom: 32px;
  
}

.link-exposicao:hover{
    text-decoration: underline;
}

#img_ipiranga {
    position: relative;
    display: inline-block;
}

#img_ipiranga::after {
    content: attr(data-descricao);
    display: block;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
    font-size: 0.75rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    padding: 1rem;
    border-radius: 4px;
    width: max-content;
    max-width: fit-content;
    white-space: normal;
    pointer-events: none;
    line-height: 1.2;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: .3s;
    opacity: 0;
}

#img_ipiranga:hover::after {
    
    opacity: 1;
}

#ipiranga{
    position: relative;
}

#ipiranga::after{
    content: "";
    display: block;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, #457fca, #5691c8);
    z-index: -4;
    filter: blur(200px);
    animation: piscar 2s ease-in-out infinite;
}

@keyframes piscar {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


@media (max-width:960px){
  .menu a {
  font-family: 'Realce';
  font-size: 1rem;
  color: #151b1f;
  transition: 0.3s;
  }
  .menu{
        gap: 20px;
  }
  .header{
    padding: 16px 20px;
  }
}


@media (max-width:760px) {
    .container{
        grid-template-columns: 1fr;
        padding: 16px 20px;
    }
    .link-exposicao {
        text-align: left;
    }
    #ipiranga::after{
        display: none;
    }
}